.button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 30px;
}

.button.button-size-l {
    border-radius: 79px;
    height: 48px;
    gap: 10px;
}

.button.button-size-xl {
    border-radius: 15px;
    height: 80px;
    gap: 20px;
}

.button > .button-before, .button > .button-after {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.button.button-mode-primary {
    background: var(--color_accent);
    color: white;
}

.button.button-mode-secondary {
    background: white;
    color: var(--color_primary);
    border: solid 2px var(--border_color);
}

.button.button-mode-red {
    background: var(--color_red);
    color: white;
}

.button.button-mode-primary.button-shadow {
    box-shadow: 0 14px 40px 0 rgba(88, 165, 255, 0.4);
}

.button.button-mode-secondary.button-shadow {
    box-shadow: 0 14px 40px 0 #e8eff8;
}

.button > .button-in {
    font-family: 'Wix Madefor Display Semibold';
    letter-spacing: -0.01em;
    font-weight: 400;
    white-space: nowrap;
}

.button.button-size-l > .button-in {
    font-size: 16px;
    line-height: 20px;
}

.button.button-size-xl > .button-in {
    font-size: 20px;
    line-height: 25px;
}

.button > input {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
}

.button.button-mode-icon {
    width: unset;
    height: unset;
    background: none;
    padding: 0;
}