.content-mailing-templates > .table > .table-header > :nth-child(1) {
    width: 5%;
}

.content-mailing-templates > .table > .table-in > *:not(.edit-data) > :nth-child(1) {
    width: 5%;
}

.content-mailing-templates > .table > .table-header > :nth-child(2) {
    width: 40%;
}

.content-mailing-templates > .table > .table-in > *:not(.edit-data) > :nth-child(2) {
    width: 40%;
}

.content-mailing-templates.content-in .edit-data .flex {
    gap: 20px;
}

.content-mailing-templates.content-in .edit-data .input-in {
    border: solid 3px var(--border_color);
}

.content-mailing-templates.content-in .edit-data .flex input {
    height: calc(48px - 3px * 2 - 14px * 2);
}

.content-mailing-templates.content-in .edit-data .flex .input {
    width: 100%;
}

.content-mailing-templates.content-in .edit-data .flex .input > .input-in > .after {
    padding: 0 12px;
}

.content-mailing-templates.content-in .edit-data .flex.flex-stretch {
    align-items: end;
}

.content-mailing-templates.content-in .edit-data .block-keyboard {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.content-mailing-templates.content-in .edit-data .block-keyboard-buttons {
    display: flex;
    gap: 12px;
}

.content-mailing-templates.content-in .edit-data .block-keyboard-buttons > * {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: -webkit-fill-available;

    padding: 0 12px;
    border-radius: 9px;

    font-family: 'Wix Madefor Display Semibold';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-weight: 400;

    color: #000000;
    background: #E5EBF1;

    cursor: pointer;
}

.content-mailing-templates.content-in .edit-data .block-keyboard-buttons > *[data-color="primary"] {
    color: #ffffff;
    background: #5181B8;
}

.content-mailing-templates.content-in .edit-data .block-keyboard-buttons > *[data-color="secondary"] {
    color: #000000;
    background: #E5EBF1;

}

.content-mailing-templates.content-in .edit-data .block-keyboard-buttons > *[data-color="positive"] {
    color: #ffffff;
    background: #4BB34B;

}

.content-mailing-templates.content-in .edit-data .block-keyboard-buttons div[data-color="negative"] {
    color: #ffffff;
    background: #E64646;

}