.header {
    display: flex;
    align-items: center;

    min-height: calc(100px - 26px * 2);
    /*padding: 26px 40px 26px 37px;*/
    margin-top: 15px;

    background: transparent;
}

.header > .header-button {
    color: var(--color_secondary);
    white-space: nowrap;

    padding: 26px 25px calc(26px + 15px) 25px;
    margin-bottom: -15px;
}

.header > .header-button:first-child {
    padding-left: 37px;
}

.header > .header-button:last-child {
    padding-right: 40px;
}

.header > .header-button.header-button-active {
    color: var(--color_primary);

    background: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#header-vk-button {
    margin-right: 0;
    margin-left: auto;
}

#header-vk-button > .header-user-info {
    display: flex;
    align-items: center;
}

#header-vk-button > .header-user-info > img {
    min-width: 48px;
    width: 48px;
    max-width: 48px;
    min-height: 48px;
    height: 48px;
    max-height: 48px;
    border-radius: 50%;
    overflow: hidden;
}

#header-vk-button > .header-user-info > span {
    margin-left: 10px;

    font-family: 'Wix Madefor Display Semibold';
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    font-weight: 400;
    color: var(--color_primary);

    user-select: none;
}

#header-vk-button > .header-user-info > .button {
    margin-left: 35px;
}